<div class="flexbox-container">
  <div class="name-item">
    <span [matTooltip]="parameter.type" matTooltipPosition="below">{{parameter.name}}: </span>
  </div>
  <div class="value-item">
    <span [matTooltip]="parameter.lastUpdate" matTooltipPosition="below">{{parameter.lastValue}}</span>
  </div>
  <button *ngIf="parameter.actuator" mat-icon-button class="value-item" (click)="editActuator(parameter)"><mat-icon>settings</mat-icon></button>
  <div class="empty-space"></div>
  <button mat-raised-button color="primary" class="right-button"><mat-icon>show_chart</mat-icon> View chart</button>
</div>
